+++
title = "HPCC Home"
linkTitle = "HPCC Home"

+++

{{< blocks/cover title="Welcome to UCR HPCC!" image_anchor="top" height="full" color="orange" >}}
	<p class="lead mt-5"> Welcome to the website of the High-Performance Computing Center (HPCC) at UC Riverside. This site gives an overview of the HPC resources and services provided by our center. </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Mission and Services

The High-Performance Computing Center (HPCC) provides state-of-the-art research
computing infrastructure and training accessible to all UCR researchers and affiliates
at low cost. This includes access to the shared HPC resources and services summarized below.
The main advantage of a shared research computing environment is access to a much larger HPC
infrastructure (with thousands of CPUs/GPUs and many PBs of directly attached
storage) than what smaller clusters of individual research groups could afford,
while also providing a long-term sustainability plan and professional systems
administrative support. 


{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="News" %}}

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/UCR_HPCC" %}}
For latest urgent HPCC status announcements.
{{% /blocks/feature %}}


{{< /blocks/section >}}


	
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">
	<p>
		<span style="color:darkred"> HPCC Operation During COVID-19 Crisis </span></p></h1>
		Since the research computing infrastructure of the HPCC is designed to be
		accessed remotely, we are currently not expecting any major downtimes or
		restrictions for users due to the campus access restrictions caused by the
		COVID-19 pandemic. However, even this may change depending on the extent of the
		restrictions our university may have to implement. A few exceptions that are
		currently in effect for the HPCC facility are the following: 
		<br><br/>
		<p>
		  + Our offices in 1208/1207 Genomics Building are closed. The HPCC staff will continue to work as usual but exclusively via remote access from home. 
		</p><p>
		  + All in person contacts such as office visits or in-person training events are not possible during the current COVID-19 crisis. Alternatively, we will be offering remote training sessions via video conferencing using Zoom. 
		</p>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}



{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
