+++
title = "HPCC"
linkTitle = "HPCC"
+++

<style>
#td-cover-block-0 {
    background-image: url("background.jpg")
}
</style>

{{< blocks/cover title="Research Computing at UCR's HPCC" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
    <div style="background:rgba(0, 0, 0, 0.4); border-radius:25px; padding:10px; margin:10px;">
    <p class="lead mt-5" style='color:white;'>
      Welcome to the website of the High-Performance Computing Center (HPCC) at UC Riverside. 
    </p>
    </div>
       
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about/overview/introduction" >}}">
		About<i class="fas fa-info-circle ml-2"></i>
	</a>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/events" >}}">
		Events<i class="fas fa-users ml-2"></i>
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/manuals" >}}">
		Manuals<i class="fas fa-book ml-2"></i>
	</a>
</div>

{{< blocks/link-down color="info" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="white" %}}
  <h3>HPCC Operation During COVID-19 Crisis </h3>
  <p>Since the research computing infrastructure of the HPCC is designed to be
  accessed remotely, we are currently not expecting any major downtimes or
  restrictions for users due to the campus access restrictions caused by the
  COVID-19 pandemic. 
  </p>
{{% /blocks/lead %}}

{{% blocks/section color="dark" %}}
  <h3>News</h3>
  <p></p>
  <p>
  </p>
  <ul>
      <li>In August 2022 we were awarded an MRI equipment grant (#2215705) by NSF for the acquisition of a Big Data HPC Cluster in the total amount of $942,829. For details see <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2215705&HistoricalAwards=false">here</a>.</li>
  </ul>
{{% /blocks/section %}}

{{% blocks/section color="primary" %}}
  <h3>Mission and Services</h3>
  <p>The High-Performance Computing Center (HPCC) provides state-of-the-art research
  computing infrastructure and training accessible to all UCR researchers and affiliates
  at low cost. </p>
  <p>The main advantage of a shared research computing environment is access to a much larger HPC
  infrastructure (with thousands of CPUs/GPUs and many PBs of directly attached
  storage) than what smaller clusters of individual research groups could afford,
  while also providing a long-term sustainability plan and professional systems
  administrative support.</p>
{{% /blocks/section %}}

{{< blocks/section color="white" >}}
  {{% blocks/feature icon="fab fa-slack" title="Join us in **Slack**" url="https://ucr-hpcc.slack.com" color="white" %}}
  Get help and useful tips!
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/ucr-hpcc/ucr-hpcc.github.io.git" color="white" %}}
  We do a [Pull Request](https://github.com/ucr-hpcc/ucr-hpcc.github.io.git/pulls) contributions workflow on **GitHub**.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ucr_hpcc" color="white" %}}
  For announcement of latest features etc.
  {{% /blocks/feature %}}
{{< /blocks/section >}}

